/* Activity #1: Use flexbox to style the profile card with a column layout 
for the items with a gap of 0.5rem between each item. 
Center align the items across the horizontal axis */
.container {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  border-radius: inherit;
}

/* Activity #1: Use flexbox to put the name and profile icon next to each other. 
  Center the items across the vertical axis. Add a gap of 1rem. */
.profileHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 1rem;
}

.followButton {
  padding: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  color: black;
  background-color: #fcce9f;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
