.page {
  margin: 0 auto;
  padding: 1rem;
}

/* Activity #2: Make the grid layout for the dashboard 
using 1/4 and 3/4 for the column layout. For the row layout, 
there should be 2 rows with auto sizing. Add a gap of 1rem between all grid items. */
.dashboard {
}

/* Activity #2: Add grid areas for .profile, .createPost, .posts */
.profile {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
}

.createPost {
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-height: 500px;
  overflow: auto;
}

/* Activity #3: For mobile screens, make the grid layout into a 1 column layout. 
Hint: any grid styling can be overridden with media query */