.container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 4px;
  padding: 0.5rem;
}
.userInteractions {
  display: flex;
  justify-content: space-between;
}

.likesContainer {
  display: flex;
  align-items: center;
}

/* Activity 4: Use width, max-width, and height to make the image responsive
Feel free to experiment with aspect-ratio as well */

.dogImage {
}
